body{
   
    background-image: url(../images/pageBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron1 {
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cardBackground {
    background-image: url(../images/cardBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: black solid 1vh;
}
.employee-card {
    background-image: url(../images/cardHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: black solid 1vh;
}

